TrabYago/.vs/
TrabYago/.vs/TrabYago/config/applicationhost.config
TrabYago/.vs/TrabYago/v16/Server/sqlite3/storage.ide-wal
TrabYago/.vs/TrabYago/v16/Server/sqlite3/storage.ide-shm
TrabYago/.vs/TrabYago/v16/Server/sqlite3/storage.ide
TrabYago/.vs/TrabYago/v16/Server/sqlite3/db.lock
TrabYago/.vs/TrabYago/v16/.suo
