@model TrabYago.Models.Placar

@{
    ViewData["Title"] = "Create";
    IEnumerable<string> nomes = (IEnumerable<string>) ViewData["NomesJogadores"];
}
<h1>Adicionar Placar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TotalPontos" class="control-label"></label>
                <input asp-for="TotalPontos" class="form-control" />
                <span asp-validation-for="TotalPontos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPontuacao" class="control-label"></label>
                <input asp-for="DataPontuacao" class="form-control" />
                <span asp-validation-for="DataPontuacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JogadorNome" class="control-label"></label>
                <select asp-for="JogadorNome" class="form-control">
                    @foreach (string item in nomes)
                    {
                        <option>@item</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
